/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  background-color: #FFFFFF;
  color: #262b33;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: #F5F5F5;
  height: 250px;
  position: relative;
}

.header__content {
  padding: 45px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
}

.actions__download-btn {
  background-color: #3666F7;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.133984px;
  appearance: none;
  outline: none;
  text-align: center;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color .1s ease;
  border: none;
  border-radius: 6px;
}

.actions__download-btn:hover {
  background-color: #0940E7;
}

.resume-container {
  margin-bottom: 180px;
  margin-top: -125px;
}

.resume-page {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 900px;
  min-height: 1200px;
  margin: auto;
  z-index: 2;
}

.resume-page__content {
  padding: 70px;
}


.git{
  background-image: url("../image/gitGray.svg");
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
}
.git:hover{
  background-image: url("../image/gitBack.svg"),url("../image/gitPaint.svg");
  border-radius: 4px;
}

.main{
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 126px;
  border: 2px solid;
  border-color: #f5f5f5;
  border-radius: 4px;
  padding: 70px;
  margin-bottom: 181px;
  position: absolute;
  left: 0;
  top:0;
  background-color: white;

}

.twi{
  background-image: url("../image/twiGray.svg");
  height: 18px;
  width: 21px;
  margin: 1px;
  margin-right: 8px;
  margin-left: 8px;
}

.button{
  margin-right: 64px;
  margin-top: 46px;
  float:right;
  height: 40px;
  width: 170px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background-color: #38BEF8;
  border-radius: 6px;
}
.button:hover{
  background-color: #33A4EC;
}

.photo{
  width: 70px;
  height: 69px;
  left: 340px;
  top: 196px;
  background: url("../image/cat.png");
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 5px;
}

.twi:hover{
  background: #33A4EC;
  transform: scaleY(1.138);
  background-image: url("../image/twiPaint.svg");
  border-radius: 4px;
  margin: 1px;
  margin-right: 8px;
  margin-left: 8px;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
}

.containerRowFIO{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 40.01px;
}

.containerRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-top: 40px;
}

.containerRow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-top: 40px;
}

.containerColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
}
.containerColumn_other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.containerColumnMain{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mailAndPhone{
  width: 222px;
  height: 65px;
  left: 938px;
  top: 199px;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
}

.name{
  width: 298px;
  height: 37px;
  left: 434px;
  top: 198px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #252525;
  text-align: left;
  margin-left: 24px;
}

.prof{
  width: 298px;
  height: 31px;
  left: 434px;
  top: 233px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin-left: 24px;

  color: #555555;
}
.containerRowChild{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profText{
  width: 740px;
  left: 340px;
  top: 306px;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #555555;
  margin-top: 40px;
  text-align: left;
  word-wrap: normal;
  display: flex;
}

.education_name{
  left: 340px;
  top: 474px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #A066F8;
  display: flex;
  flex-direction: column;
}
.education_name_university{
  display: flex;
  flex-direction: column;
  left: 340px;
  top: 508px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #252525;
  text-align: left;
  margin-top: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.education_name_coursework{
  width: 453px;
  left: 340px;
  top: 572px;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #555555;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
}

.intership{

  left: 340px;
  top: 733px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #32CD88;
}

.intershipBold{
  width: 445px;
  height: 24px;
  left: 340px;
  top: 767px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 4px;
  /* identical to box height, or 133% */
  color: #252525;
}

.intershipSkill{
  width: 453px;
  left: 340px;
  top: 807px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
  color: #555555;
}

.projectTaskName{
  left: 340px;
  top: 1037px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FB746A;
}
.projectTaskString{
  left: 340px;
  top: 1071px;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  color: #252525;
}

.years{
  width: 153px;
  height: 17px;
  left: 340px;
  top: 1103px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

.years2{
  width: 153px;
  height: 17px;
  left: 340px;
  top: 1103px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 8px;
  color: #CCCCCC;
}

.skills{
  left: 887px;
  top: 474px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #EE5035;
  text-align: left;
  margin-left: 94px;
margin-right: 70px
}

.skillsList{
  left: 887px;
  top: 508px;
  height: 180px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.skillsListDiv{
  margin-left: 50px;
}

.lang{
  left: 887px;
  top: 733px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #38BEF8;
  margin-left: 94px;
  text-align: left;
  margin-right: 117px;
}

.langList{
  left: 887px;
  top: 767px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
}

.endLink{
  margin-top: 20%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 70px;
  margin-right: 73px;
}

.ball{
  background-image: url("../image/inst.png");
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.ball:hover{
  background-image: url("../image/inst.svg");
}

.columnWithRange{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}