*, *::before, *::after { 
  padding: 0; margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  background: #F7F8FC;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container__with-image{
  justify-content: space-evenly;
  width: 30%;
  height: 60%;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}

.container {
  width: 30%;
  height: 60%;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: white;
}

.button {
  width: 74px;
  height: 24px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #E8E8E8;
}

.button-new-day{
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  left: 0.5%;
  top: 94%;
}

.button-new-day:hover{
  margin-left: 16px;
  margin-bottom: 16px;
  background: #DCF2E3;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-new-day:active{
  margin-left: 16px;
  margin-bottom: 16px;
  background: #9BE9B3;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.body__text{
  font-family: Product Sans;
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 36px;
}
