.div-in{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

input{
    border:2px;
    outline: none;
    padding-left: 4px;
    margin-bottom: 29px;
    padding-right: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
}

.svg-input{
    padding: 0;
}

.svg-input:hover{
    cursor: pointer;
}

input:hover::placeholder{
    color:#252526;
}

.x-close path{
    fill: none;
}

.x-close:hover path{
    fill: #252526;
}

